// 

$color-titulo:#212121;
$color-parrafo:#8c988e;
$color-subtitulos:#F4FCD9;

$size-titulo:25px;
$size-parrafo:18px;

$bg-color:#060706b3;

$color-link:#BF8FEE;

$btn-hover:#7F8487;
$btn:#BF8FEE;




